$font-family-regular: 'BitterRegular', arial, verdana, sans-serif;
$font-family-light: 'BitterLight', arial, verdana, sans-serif;
$font-family-black: 'BitterBlack', arial, verdana, sans-serif;
$font-family-italic: 'BitterItalic', arial, verdana, sans-serif;

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}